.catalog {
  padding: 30px 50px 100px;
}

.title-add-product {
  font-size: 24px;
  padding-bottom: 15px;
  font-weight: 600;
}

.add__label {
  padding-bottom: 5px;
  margin: 0;
}

.category-market {
  font-size: 20px;
  font-weight: 600;
}
