<<<<<<< HEAD
.block-add-catalog {
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.catalog-title {
=======
.catalog {
  padding: 30px 50px 100px;
}

.title-add-product {
>>>>>>> e116c9611d380eece8764d0aabca036aee43da27
  font-size: 24px;
  padding-bottom: 15px;
  font-weight: 600;
}

.add__label {
  padding-bottom: 5px;
  margin: 0;
}

<<<<<<< HEAD
.catalog__form {
  padding-bottom: 30px;
}

::ng-deep .mat-form-field {
  display: block !important;
  width: 250px;
}

button {
  outline: none !important;
}
=======
.category-market {
  font-size: 20px;
  font-weight: 600;
}
.btn__delete {
  cursor: pointer;
  margin-right: 20px;
}















>>>>>>> e116c9611d380eece8764d0aabca036aee43da27
