<div class="block-add-catalog">
  <div class="container">
    <div class="catalog-title">Добавить в каталог наименование товара</div>
    <form class="catalog__form">
      <mat-form-field>
        <mat-label>Выберете категорию</mat-label>
        <input matInput #inputCategory>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Добавьте товар</mat-label>
        <input matInput #inputProd (keyup.enter)="addCategory(prodData.value.toLowerCase(), categoryData.value.toLowerCase())">
      </mat-form-field>
      <button mat-raised-button (click)="addCategory(inputCategory.value.toLowerCase(), inputProd.value.toLowerCase())" type="button">Добавить</button>
    </form>
  </div>
</div>

<div class="catalog">
  <div class="container">
    <div class="row">
      <div class="col-3" *ngFor="let category of categories">
        <app-card-category [thisCategory]="category"></app-card-category>
      </div>
    </div>
  </div>
</div>
