.block-add-catalog {
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.catalog-title {
  font-size: 24px;
  padding-bottom: 15px;
  font-weight: 600;
}

.add__label {
  padding-bottom: 5px;
  margin: 0;
}

.catalog__form {
  padding-bottom: 30px;
}

::ng-deep .mat-form-field {
  display: block !important;
  width: 250px;
}

button {
  outline: none !important;
}
