<header class="block-header">
  <div class="container">
    <div class="col-12">
      <div class="descriptor">
        <div class="row">
          <div class="col-lg-8 col-12">
            <div class="descriptor__content">
              <div class="descriptor__city" [matMenuTriggerFor]="belowMenu">Белгород<svg class="descriptor__city-icon" viewBox="0 0 24 24">
                  <circle id="primary" cx="12" cy="12" r="9"
                          style="fill: none; stroke: rgb(255,255,255); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></circle>
                  <polyline id="secondary" points="9 11 12 14 15 11"
                            style="fill: none; stroke: rgb(240,189,181); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polyline>
                </svg></div>
              <mat-menu #belowMenu="matMenu" yPosition="below">
                <button mat-menu-item>Курск</button>
              </mat-menu>
              <div class="descriptor__nav">
                <a href="#" class="descriptor__nav-link">О компании</a>
                <a href="#" class="descriptor__nav-link">Сотрудники</a>
                <a href="#" class="descriptor__nav-link">Вакансии</a>
                <a href="#" class="descriptor__nav-link">Услуги</a>
                <a href="#" class="descriptor__nav-link">Доставка</a>
                <a href="#" class="descriptor__nav-link">Акции</a>
                <a href="#" class="descriptor__nav-link">Контакты</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="header-info">
              <a href="tel:+38-(073)-000-0000" class="number">8(904)090-45-80</a>
              <a href="#" class="login">Личный кабинет</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="main-panel">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-4 col-sm-5 col-12">
            <div class="logo"><img src="../../assets/img/logo_gc.svg" class="logo__img"></div>
          </div>
          <div class="col-lg-6 col-md-7 col-sm-7 col-12">
            <div class="search">
              <a class="search__button">
                <img
                  src="https://www.chatterboxmarketing.com.au/assets/Uploads/4a1d3261e9/Search-Engine-Optimisation-large-iconTom.png"
                  class="search-icon">
              </a>
              <input class="search__input" placeholder="Ну что, поищем?" id="search-input">
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="action">
              <svg class="action__icon" id="cart" data-name="Line Color" xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 24 24">
                <circle id="secondary" cx="10.5" cy="20.5" r="0.5"
                        style="fill: none; stroke: rgb(255,255,255); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></circle>
                <circle id="secondary-2" data-name="secondary" cx="16.5" cy="20.5" r="0.5"
                        style="fill: none; stroke: rgb(255,255,255); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></circle>
                <path id="primary" d="M3,3H5.14a1,1,0,0,1,1,.85L6.62,7,8,16l11-1,2-8H6.62"
                      style="fill: none; stroke: rgb(255,255,255); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
              </svg>
              Корзина товаров
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
