<<<<<<< HEAD
/* Header */
=======
button:focus {
  outline: none;
}

>>>>>>> e116c9611d380eece8764d0aabca036aee43da27
.block-header {
  background-color: #005fb2;
  color: #ffffff;
}
/*1*/
.menu {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.23);
}
.menu__nav {
  display: flex;
  list-style: none;
}
.menu__item {
  display: flex;
  align-items: center;
<<<<<<< HEAD
=======
  font-size: 14px;
  padding-right: 35px;
  cursor: pointer;
}
.descriptor__city-icon {
  box-sizing: border-box;
  padding: 0 0 0 4px;
  width: 20px;
  height: 20px;
}
.descriptor__nav-link {
>>>>>>> e116c9611d380eece8764d0aabca036aee43da27
  color: #ffffff;
  padding: 7px;
  font-size: 12px;
  cursor: pointer;
}
.menu__item:hover {
  color: #eeeeee;
}

.menu__widget {
  padding: 5px;
  background-color: #006fd0;
  border-radius: 3px;
  margin: 0 4px;
}
.menu__widget:hover {
  background-color: #0094d0;
}

/*2*/
.menu__action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.login-icon {
  width: 28px;
  height: 28px;
}
.shop-cart-icon {
  height: 28px;
  width: 28px;
}



/* Header */
.header {
  display: flex;
  padding: 20px 0;
}
/*1*/
.logo-container {
  padding-right: 20px;
}
.logo {
  height: 50px;
}
/*2*/
.search {
  position: relative;
  width: 50%;
  margin: auto;
  max-height: 40px;
}
.search__input {
  height: 100%;
  width: 100%;
  padding: 8px 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
  outline: none;
}
.search__input:hover {
  border: #ff8100 2px solid;
  padding: 7px 19px;
}
.search__input:focus {
  border: #ff8100 2px solid;
  padding: 7px 19px;
}
.search__button {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  background: url('../../assets/img/loupe.svg') center center no-repeat;
  background-size: 25px 25px;
}
.search__button:before{
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  height: 24px;
  width: 2px;
  background: #eeeeee;
}
.search__button:hover + .search__input {
  border: #ff8100 2px solid;
  padding: 7px 19px;
}
/*3*/
.header__info {
  position: relative;
  min-width: 150px;
  margin-left: auto;
  padding-left: 15px;
}
.header__number {
  font-weight: 700;
  color: #ffffff;
}
.number:hover {
  color: #eeeeee;
}
.header__city {
  padding-left: 16px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  background: url('../../assets/img/arrow-bottom.svg') 0 center no-repeat;
  background-size: 16px 16px;
}
.header__city-popup {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  padding: 3px 5px 3px 39px;
  margin-left: 20px;
  color: #444444;
  font-size: 15px;
  font-weight: 600;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(30%);
  transition: .3s;
}
.header__city-popup.active {
  opacity: 1;
  transform: translateY(65%);
}
/*m*/
@media (max-width: 991px) {
  .descriptor__content {
    justify-content: center;
    padding-bottom: 15px;
  }
  .header-info {
    justify-content: center;
  }
  .action {
    justify-content: flex-start;
    padding-top: 20px;
  }
}

@media (max-width: 575px) {
  .header-info {
    justify-content: flex-start;
  }
  .logo {
    padding-bottom: 15px;
  }
  .logo__img {
    display: block;
    margin: 0 auto;
  }
}
<<<<<<< HEAD
=======

/*------------------------------------------------------------------ Danil-Web*/


.block-catalog {
  background-color: #ff8100;
  box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.3);
}

.catalog {
  display: flex;
  margin: 0;
  padding: 0;
}


.catalog__li-svg {
  width: 27px;
  height: 20px;
}
.catalog__li {
  flex-grow: 1;
  list-style: none;
}
.catalog a {
  text-decoration: none;
}
.catalog__li div:hover {
  background: white;
  -webkit-transition: .4s ease-out;
  -webkit-transition-delay: 0.5s;
  -o-transition: .4s ease-out;
  -o-transition-delay: 0.5s;
  -moz-transition: .4s ease-out;
  -moz-transition-delay: 0.5s;
  transition: .4s ease-out;
  transition-delay: 0.5s;
}
.catalog__li div {
  display: inline-flex;
  align-items: center;
  padding: 17px 15px;
  flex-shrink: 1;
}

.dn {
  display: none;
}

span {
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  display: block;
  padding-left: 10px;
  white-space: normal;

}
ul.menu {
  display: flex;
}



@media (max-width: 1324px) {
  .dn1 {
    display: none;
  }
}

@media (max-width: 1168px) {
  .dn2 {
    display: none;
  }
}

@media (max-width: 1152px) {
  .dn3 {
    display: none;
  }
}

@media (max-width: 900px) {
  .dn4 {
    display: none;
  }
}

@media (max-width: 740px) {
  .dn5 {
    display: none;
  }
}


.my-test {
  color: #444;
}


.mat-menu-content *, mat-menu-content *:hover, mat-menu-content *:focus, .mat-menu-content {
  outline: none;
  border: 0;
  pointer-events: none;
}
button:focus {
  outline: none;
}








>>>>>>> e116c9611d380eece8764d0aabca036aee43da27
