<owl-carousel-o [options]="customOptions">
  <!-- Item Owl -->
  <ng-template carouselSlide>
    <div class="carousel__item carousel__item_one">
      <div class="col-6">
        <img src="../../assets/img/slider/slide1.png">
      </div>
      <div class="col-6">
        <div class="carousel__content">
          <div class="carousel__offer">
            <div class="carousel__title">Сезонные товары</div>
            <div class="carousel__subtitle">Антиморозные добавки в строительные смеси<br>Противогололедный реагент</div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- Item Owl -->
  <ng-template carouselSlide>
    <div class="carousel__item carousel__item_two">
      <div class="col-6">
        <img src="../../assets/img/slider/slide2.png">
      </div>
      <div class="col-6">
        <div class="carousel__content">
          <div class="carousel__offer">
            <div class="carousel__title">Пена монтажная</div>
            <div class="carousel__subtitle">BOSTIK Standard all Seasons 60<br>Всесезонная, бытовая, 750мл</div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- Item Owl -->
  <ng-template carouselSlide>
    <div class="carousel__item carousel__item_three">
      <div class="col-6">
        <img src="../../assets/img/slider/slide3.png">
      </div>
      <div class="col-6">
        <div class="carousel__content">
          <div class="carousel__offer">
            <div class="carousel__title">АКЦИЯ CERESIT</div>
            <div class="carousel__subtitle">При покупке 14 мешков плиточного клея<br>CERESIT СМ 14 (25кг) + 1 в подарок</div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
