<owl-carousel-o [options]="customOptions">
  <!-- Item Owl -->
  <ng-template carouselSlide>
    <div class="carousel__item">
      <div class="col-6">
        <img src="../../assets/img/slider/slide1.png">
      </div>
      <div class="col-6">
        <div class="carousel__content">
          <div>Hello</div>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- Item Owl -->
  <ng-template carouselSlide>
    <div class="carousel__item">
      <div class="col-6">
        <img src="../../assets/img/slider/slide2.png">
      </div>
      <div class="col-6">
        <div class="carousel__content">
          <div>Hello</div>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- Item Owl -->
  <ng-template carouselSlide>
    <div class="carousel__item">
      <div class="col-6">
        <img src="../../assets/img/slider/slide3.png">
      </div>
      <div class="col-6">
        <div class="carousel__content">
          <div>Hello</div>
        </div>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
