<section class="block-cards">
  <div class="container">
    <div class="col-12">
      <div class="main__title">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-xs-6 col-12">
            <div class="main__title-left">
              <a href="#" class="main__title__nav-left">Защити себя и близких</a>
              <a href="#" class="main__title__nav-icon"><i class="fas fa-chevron-right"></i></a>
            </div>
          </div>

          <div class="col-lg-6 col-sm-6 col-xs-6 col-12 ">
            <div class="main__title-all">
              <a href="#" class="main__title__nav-all">Посмотреть все товары </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="sale__block">
        <div class="row">
          <div class="col-xl-2">
            <div class=" sale__block-first">
              <div class="sale__block-text"> <span class="sale__block-span">Респиратор<br>Сибртех</span> У-2К </div>
              <span class="sale__block-span-middle"><span class="sale__block-number">83</span> <pre class="sale__block-сurrency">₽</pre> <br>
                <span class="sale__block-oldprice">91</span> <pre class="sale__block-сurrency">₽</pre>
              </span>
              <div class="sale__block-btn"><span class="sale__block-buy"><button mat-button class="sale__button">Купить</button></span></div>
            </div>

          </div>
          <div class="col-xl-5 col-sm-6 col-xs-12  col-lg-6">
            <div class="sale__block-second">
              <div class="sale__block-text"> <span class="sale__block-span">Гель-антисептик<br>GOODHIM</span> дезинфекция рук <br> и поверхностей, 1 л</div>
              <span class="sale__block-span-middle"><span class="sale__block-number">860</span> <pre class="sale__block-сurrency">₽</pre>

                <span class="sale__block-oldprice">977</span> <pre class="sale__block-сurrency">₽</pre>
              </span>
              <div class="sale__block-btn"><span class="sale__block-buy"><button mat-button class="sale__button">Купить</button></span></div>
            </div>

          </div>
          <div class="col-xl-5 col-sm-6 col-xs-12 col-lg-6">
            <div class="sale__block-third">
              <div class="sale__block-text"> <span class="sale__block-span">Перчатки латексные<br>STAYER "MASTER"</span> экстратонкие <br> размер M </div>
              <span class="sale__block-span-middle"><span class="sale__block-number">19</span> <pre class="sale__block-сurrency">₽</pre>
                <span class="sale__block-oldprice">21</span> <pre class="sale__block-сurrency">₽</pre>
              </span>
              <div class="sale__block-btn"><span class="sale__block-buy"><button mat-button class="sale__button">Купить</button></span></div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="main__cards">
        <div class="row">
          <div class="col" >
            <div class="card sale__card">
              <div class="sale__card_img"><a href="#"><img class="card-img-top" src="https://i.stroy-ka.ru/ab/1e/ab1edfaa1b58f94fb9c8636f5009d018_goods_catalog.png" alt="Card image cap"></a></div>
              <a href="#" class="sale__card_info">Гель-антисептик GOODHIM «УНИВЕРСАЛ» дезинфицирующий эффект, 1 л</a>
              <div class="sale__card-info">
                <span class="sale__card-span"><span class="sale__card-number">19</span> <pre class="sale__card-сurrency">₽</pre>
                </span>
                <span class="sale__card_price-info">цена в интернет-магазине</span>
                <span class="sale__card-span"><span class="sale__card-number_oldprice">21</span> <pre class="sale__block-сurrency_oldprice">₽</pre>
                </span>
                <span class="sale__card_price-info-oldprice">Старая цена</span>
                <p class="card_one">за шт.</p>
              </div>
              <div class="sale__block-btn"><span class="sale__block-buy"><button mat-button class="sale__button">Купить</button></span></div>
            </div>
          </div>
          <div class="col">
            <div class="card sale__card">
              <div class="sale__card_img"><a href="#"><img class="card-img-top" src="https://i.stroy-ka.ru/5d/25/5d258500319898583706261bd45c16f8_goods_catalog.jpeg" alt="Card image cap"></a></div>
              <a href="#" class="sale__card_info">Полумаска фильтрующая DEXX противоаэрозольная, многослойная, коническая FFP1</a>
              <div class="sale__card-info">
                <span class="sale__card-span"><span class="sale__card-number">19</span> <pre class="sale__card-сurrency">₽</pre>
                </span>
                <span class="sale__card_price-info">цена в интернет-магазине</span>
                <span class="sale__card-span"><span class="sale__card-number_oldprice">21</span> <pre class="sale__block-сurrency_oldprice">₽</pre>
                </span>
                <span class="sale__card_price-info-oldprice">Старая цена</span>
                <p class="card_one">за шт.</p>
              </div>
              <div class="sale__block-btn"><span class="sale__block-buy"><button mat-button class="sale__button">Купить</button></span></div>
            </div>
          </div>
          <div class="col">
            <div class="card sale__card">
              <div class="sale__card_img"><a href="#"><img class="card-img-top" src="https://i.stroy-ka.ru/13/25/1325dae8544ca636b5a9cab66d6f52fc_goods_catalog.jpeg" alt="Card image cap"></a></div>
              <a href="#" class="sale__card_info">Гель-антисептик GOODHIM «УНИВЕРСАЛ» дезинфицирующий эффект, 1 л</a>
              <div class="sale__card-info">
                <span class="sale__card-span"><span class="sale__card-number">19</span> <pre class="sale__card-сurrency">₽</pre>
                </span>
                <span class="sale__card_price-info">цена в интернет-магазине</span>
                <span class="sale__card-span"><span class="sale__card-number_oldprice">21</span> <pre class="sale__block-сurrency_oldprice">₽</pre>
                </span>
                <span class="sale__card_price-info-oldprice">Старая цена</span>
                <p class="card_one">за шт.</p>
              </div>
              <div class="sale__block-btn"><span class="sale__block-buy"><button mat-button class="sale__button">Купить</button></span></div>
            </div>
          </div>
          <div class="col">
            <div class="card sale__card">
              <div class="sale__card_img"><a href="#"><img class="card-img-top" src="https://i.stroy-ka.ru/cd/78/cd785f5a56cfeb10ad561c94894b2bbe_goods_catalog.jpeg" alt="Card image cap"></a></div>
              <a href="#" class="sale__card_info">Гель-антисептик GOODHIM «УНИВЕРСАЛ» дезинфицирующий эффект, 1 л</a>
              <div class="sale__card-info">
                <span class="sale__card-span"><span class="sale__card-number">19</span> <pre class="sale__card-сurrency">₽</pre>
                </span>
                <span class="sale__card_price-info">цена в интернет-магазине</span>
                <span class="sale__card-span"><span class="sale__card-number_oldprice">21</span> <pre class="sale__block-сurrency_oldprice">₽</pre>
                </span>
                <span class="sale__card_price-info-oldprice">Старая цена</span>
                <p class="card_one">за шт.</p>
              </div>
              <div class="sale__block-btn"><span class="sale__block-buy"><button mat-button class="sale__button">Купить</button></span></div>
            </div>
          </div>
          <div class="col">
            <div class="card sale__card">
              <div class="sale__card_img"><a href="#"><img class="card-img-top" src="https://i.stroy-ka.ru/0a/f4/0af439d42eca5d2abf9b45258614fa20_goods_catalog.jpeg" alt="Card image cap"></a></div>
              <a href="#" class="sale__card_info">Гель-антисептик GOODHIM «УНИВЕРСАЛ» дезинфицирующий эффект, 1 л</a>
              <div class="sale__card-info">
                <span class="sale__card-span"><span class="sale__card-number">19</span> <pre class="sale__card-сurrency">₽</pre>
                </span>
                <span class="sale__card_price-info">цена в интернет-магазине</span>
                <span class="sale__card-span"><span class="sale__card-number_oldprice">21</span> <pre class="sale__block-сurrency_oldprice">₽</pre>
                </span>
                <span class="sale__card_price-info-oldprice">Старая цена</span>
                <p class="card_one">за шт.</p>
              </div>
              <div class="sale__block-btn"><span class="sale__block-buy"><button mat-button class="sale__button">Купить</button></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<-- Посмотреть класс кнопки доделатьадаптивность и 2 иконки Зелёную-->
