body {
  -webkit-font-smoothing: subpixel-antialiased;
}

html, body {
font-family: "Arial", sans-serif;
font-size: 15px;
line-height: 1.35;
-webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1450px!important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
<<<<<<< HEAD

ul {
  margin: 0 !important;
}

button:focus {
  outline: none !important;
}
=======
>>>>>>> e116c9611d380eece8764d0aabca036aee43da27
